<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.planetpay">

    <application
        android:name=".utils.Common"
        android:allowBackup="true"
        android:icon="@drawable/planetpay_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".views.ui.bvn_verification.BvnVerificationActivity"></activity>
        <activity
            android:name=".views.ui.splash_activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ui.funds_transfer.FundsTransferActivity" />
        <activity android:name=".views.ui.login_register.RegisterActivity" />
        <activity android:name=".views.ui.login_register.LoginActivity" />
        <activity android:name=".views.ui.security_questions.SecurityQuestionsActivity" />
        <activity android:name=".views.ui.provide_bank_account_number.ProvideBankAccountNumberActivity" />
        <activity android:name=".views.ui.select_your_bank.SelectYourBankActivity" />
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BaseActivity" />
    </application>

</manifest>